.wrapper {
  .content {
    padding-top: 24px;
  }

  .row {
    margin-bottom: 20px;
  }

  .col {
    padding-top: 10px;
  }

  .documentWrapper {
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
  }

  .table_wrapper {
    margin-top: 16px;
  }
}
